@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--primary-25: #feeeea;
	--primary-50: #fcdcd5;
	--primary-100: #fbcbc0;
	--primary-200: #f9baab;
	--primary-300: #f69780;
	--primary-400: #f5866b;
	--primary-500: #f37556;
	--primary-600: #f0522c;
	--primary-700: #c04223;
	--primary-800: #90311a;
	--primary-900: #602112;
	--primary-950: #602112;

	--secondary-25: #e6e9ed;
	--secondary-50: #ccd3da;
	--secondary-100: #b3bdc8;
	--secondary-200: #99a7b5;
	--secondary-300: #4d667e;
	--secondary-400: #33506c;
	--secondary-500: #1a3a59;
	--secondary-600: #002447;
	--secondary-700: #001d39;
	--secondary-800: #00162b;
	--secondary-900: #000e1c;
	--secondary-950: #000e1c;

	--gray-25: #fcfcfd;
	--gray-50: #f9fafb;
	--gray-100: #f2f4f7;
	--gray-200: #eaecf0;
	--gray-300: #d0d5dd;
	--gray-400: #98a2b3;
	--gray-500: #667085;
	--gray-600: #475467;
	--gray-700: #344054;
	--gray-800: #1d2939;
	--gray-900: #101828;

	--surface-0: 255 255 255;
	--surface-50: 249 250 251;
	--surface-100: 243 244 246;
	--surface-200: 229 231 235;
	--surface-300: 209 213 219;
	--surface-400: 156 163 175;
	--surface-500: 107 114 128;
	--surface-600: 75 85 99;
	--surface-700: 55 65 81;
	--surface-800: 31 41 55;
	--surface-900: 17 24 39;
	--surface-950: 8 8 8;

	--primary: var(--primary-500);
	--secondary: var(--secondary-500);
	--gray: var(--gray-500);
	--primary-inverse: var(--surface-0);
	--primary-hover: var(--primary-600);
	--primary-active-color: var(--primary-600);

	--primary-highlight-opacity: 0.1;
	--primary-highlight-inverse: var(--primary-700);
	--primary-highlight-hover-opacity: 0.2;
}

@font-face {
	font-family: 'Metrosans';
	src: url('/font/MetroSans-Regular.ttf');
}

input,
textarea {
	background-color: #f7f9fc !important;
	border-color: #f2f4f7 !important;
}

input,
input::placeholder {
	@apply text-sm;
}
